</div>
	<div class='block' style='clear: both;'>
		<center><h2>You have nearly entered; {{:data.map_name}}</h2></center>
		<center>
			You have been chosen to be part of an exclusive and pivotal joint colonization project. Good luck, colonist!
		</center>
		<center>
			Once the application is complete, enter the cryopod to begin your journey to {{:data.map_name}}.<br>
			By completing this application you are accepting permanent residency inside the Frontier and renouncing all former ties you carry with you.<br>
			You are free here.
		</center>
	</div>
</div>

<div style="float:left;width:50%;">
	<fieldset style="min-height:180px;background-color: #202020;">
		<legend style="text-align:center">Dossier Fields</legend>
		<div class='item'>
			<div class="itemLabelWider">
				Desired career:
			</div>
			<div style="float:right">
				{{:data.role}}
			</div>
		</div>
		<div class='item'>
			<div class="itemLabelWider">
				Description:
			</div>
			<div style="float:right">
				{{:data.role_desc}}
			</div>
		</div>
		<div class='item'>
			<div class="itemLabelWider">
				{{if data.finished}}
					{{:helper.link('Unsubmit', null, { 'action' : 'unsubmit' }, null, null)}}
				{{else}}
					{{:helper.link('Submit', null, { 'action' : 'submit' }, null, null)}}
				{{/if}}
			</div>
		</div>
	</fieldset>
</div>

<div style="float:left;width:50%">
	{{if !data.finished}}
		<fieldset style="min-height:180px;background-color: #202020;">
			<legend style="text-align:center">Options</legend>
			<div class='statusDisplay'>
				<table style="width:100%">
				<tr><th style="width:40%">Name<th>Skills<th>Actions
				{{for data.roles}}
					<tr class="candystripe">
					<td>{{:value.name}}
					<td>{{:value.skills}}
					<td>{{:helper.link(value.active ? 'Chosen' : 'Choose', null, { 'action' : 'confirm_role', 'ref': value.ref }, null, value.active ? 'yellowButton' : null)}}
				{{/for}}
			</table>
		</fieldset>
	{{else}}
		<!-- Left blank intentionally -->
	{{/if}}
</div>

</div>
	<div class='block' style='clear: both'>
		<center><h2>Skills</h2></center>
		<table style="width:100%">
		{{for data.skills_by_cat}}
			<tr>
			<th>
				{{:value.name}}
			</th>
			</tr>
			{{for value.skills :skill_value:skill_key}}
				<tr>
				<td>
				<div class="itemLabel">
					{{:skill_value.name}}:
				</div>
				</td>
				{{for skill_value.levels :level_value:level_key}}
					{{if !level_value.blank}}
					<td>
						{{:helper.link(level_value.name, null, {'value_hit' : level_value.val, 'skill' : skill_value.ref}, null, level_value.selected ? 'selected' : null)}}
					</td>
					{{/if}}
				{{/for}}
				</tr>
			{{/for}}
		{{/for}}
		</table>
	</div>
</div>