{{if data.error}}
	<h2>An error has occured:</h2>
	Additional information: {{:data.error}}<br>
	<i>Please try again. If the problem persists contact your system administrator for assistance.</i>
	{{:helper.link('Refresh', null, { "refresh" : 1 })}}
{{else}}
	<h2>Editing Access Requirements:</h2>
	<div class='item'>
		<div class='itemBody'>{{:helper.link("NETWORK SETTINGS", null, { "settings" : 1 })}}</div>
	</div>
	{{if !data.connected}}
		<hr>
		<h2>Disconnected from network.</h2>
	{{else}}
		<div class='item'>
			<div class='itemLabel'>Network Requirement:</div>
			<div class='itemBody'>
				{{:helper.link('On', null, { "req_network" : 1 }, data.req_network ? 'selected' : null)}}
				{{:helper.link('Off', null, { "req_network" : 1 }, !data.req_network ? 'selected' : null)}}
				{{:helper.link('?', null, { "info" : "req_network" }, null)}}
			</div>
		</div>
		<hr>
		<table>
			<tr><th>Pattern
			<th>Groups
			<th>Operations
			{{for data.patterns}}
				<tr><td>{{:helper.link("Pattern " + value.index, null, { "select_pattern" : value.index}, (data.selected_pattern == value.index) ? 'selected' : null)}}
				<td>{{:value.access}}
				<td>{{:helper.link('Delete pattern', null, { "remove_pattern" : value.index})}}
			{{/for}}
		</table>
		<br>
		{{:helper.link('Add pattern', null, { "add_pattern" : 1}, null)}}
		{{:helper.link('?', null, { "info" : "pattern" }, null)}}
		<hr>
		{{if data.selected_parent_group}}
			<h2>Viewing Child Groups for: {{:data.selected_parent_group}}</h2>
			{{if data.child_groups}}
				<h2>Child Groups:</h2>
				<table>
					<tr><th>Group
					<th>Operations
					{{for data.child_groups}}
						<tr><td>{{:value.child_group}}
						<td>
							{{if value.assigned}}
								{{:helper.link('REMOVE', null, { "remove_group" : value.child_group })}}
							{{else}}
								{{:helper.link('ASSIGN', null, { "assign_group" : value.child_group })}}
							{{/if}}
					{{/for}}
				</table>
			{{else}}
				<i> No child groups found! </i>
			{{/if}}
			<div class='item'>
				{{:helper.link('Back to access listings', null, { "back" : 1 })}}
			</div>
		{{else data.viewing_accounts}}
			<h2>Viewing accounts:</h2>
			{{if data.accounts}}
				<table>
					<tr><th>Account
					<th>Operations
					{{for data.accounts}}
						<tr><td>{{:value.login}}
						<td>
							{{if value.assigned}}
								{{:helper.link('REMOVE', null, { "remove_account" : value.login })}}
							{{else}}
								{{:helper.link('ASSIGN', null, { "assign_account" : value.login })}}
							{{/if}}
					{{/for}}
				</table>
			{{else}}
				<i>No accounts found on network!</i>
			{{/if}}
			{{:helper.link('Back to access listings', null, { "back" : 1 })}}
		{{else data.selected_pattern}}
			<h2>Parent Groups:</h2>
				{{if data.parent_groups}}
					{{:helper.link('?', null, { "info" : "parent_groups" }, null)}}
					<table>
						<tr><th>Group
						<th>Operations
						{{for data.parent_groups}}
							<tr><td>{{:helper.link(value.parent_group, null, { "select_parent_group" : value.parent_group })}}
							<td>
								{{if value.assigned}}
									{{:helper.link('REMOVE', null, { "remove_group" : value.parent_group })}}
								{{else}}
									{{:helper.link('ASSIGN', null, { "assign_group" : value.parent_group })}}
								{{/if}}
						{{/for}}
					</table>
				{{else}}
					<i>No groups found on network!</i>
				{{/if}}
			<hr>
			{{:helper.link('View accounts', null, { "view_accounts" : "1" }, null)}}
		{{/if}}
	{{/if}}
{{/if}}