{{if data.error}}
	<h2>An error has occured:</h2>
	Additional information: {{:data.error}}<br>
	<i>Please try again. If the problem persists contact your system administrator for assistance.</i>
	<div class="item">
		{{:helper.link('Refresh', null, { 'refresh' : 1 })}}
	</div>
{{else}}
	<div class="itemLabel">
		Network TAG:
	</div>
	<div class="itemContent">
		{{:data.network_tag}}
	</div>
	<div class="itemLabel">
		Network ID:
	</div>
	<div class="itemContent">
		{{:data.network_id}}
	</div>
	<div class="item">
		<div class="itemLabel">
			Anchored Areas:
		</div>
		<div class="statusDisplay" style="min-height: 120px;">
			<div class="item">
				<div class="itemContent" style="width: 100%;">
					{{for data.anchored_areas}}
						{{:value}}<br>
					{{/for}}
				</div>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="itemContent">
			{{:helper.link('Select Areas', null, { 'select_areas' : 1})}}
		</div>
	</div>
	{{if data.created_sector || data.finalized}}
		<div class="item">
			<div class="itemLabel">
				Ship name:
			</div>
			<div class="itemContent">
				{{:data.sector_name}}
			</div>
		</div>
	{{else}}
		<h3>Ship Options</h3>
		<div class="item">
				<div class="itemLabel">
					Ship name:
				</div>
				<div class="itemContent">
					{{if data.created_sector || data.finalized}}
						{{:data.sector_name}}
					{{else}}
						{{:helper.link(data.sector_name ? data.sector_name : 'No name!', 'pencil', {'change_sector_name' : '1'}, null , null)}}
					{{/if}}
				</div>
		<div class="item">
			<div class="itemLabel">
				Ship Color:
			</div>
			<div class="itemContent">
				{{:helper.link('Change color', 'pencil', { 'change_color' : 1})}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Ship Size:
			</div>
			<div class="itemContent">
				{{:helper.link(data.should_launch ? 'Non-landable' : 'Landable', null, { 'should_launch' : 1}, null, null)}}
			</div>
		</div>
		{{if data.should_launch}}
			<i>Choosing to create a non-landable ship will launch the ship core into a new registered sector. The ship will not be able to land.</i><br>
			<div class="statusDisplay" style="min-height: 120px;">
				<div class="item">
					<div class="itemContent" style="width: 100%;">
						{{for data.errors}}
							{{:value}}<br>
						{{/for}}
					</div>
				</div>
			</div>
			<div class="item">
				<div class="itemContent">
					{{:helper.link('Launch Ship Core', 'arrowthickstop-1-e', {'launch' : '1'}, null , null)}}
				</div>
				<div class="itemContent">
					{{:helper.link('Check launching validity', 'gear', {'check_errors' : '1'}, null , null)}}
				</div>
			</div>
		{{else}}
			<i>Choosing to create a landable ship will create the ship in place. The ship will be able to land in valid areas.</i><br>
			<div class="statusDisplay" style="min-height: 120px;">
				<div class="item">
					<div class="itemContent" style="width: 100%;">
						{{for data.errors}}
							{{:value}}<br>
						{{/for}}
					</div>
				</div>
			</div>
			<div class="item">
				<div class="itemContent">
					{{:helper.link('Finalize landable ship', 'arrowthickstop-1-e', {'finalize' : '1'}, null , null)}}
				</div>
				<div class="itemContent">
					{{:helper.link('Check landable ship validity', 'gear', {'check_errors' : '1'}, null , null)}}
				</div>
			</div>
		{{/if}}
	{{/if}}
	<hr>
	<i>EXONET Firmware v110.04.4h Copyright EXONETWORKS INC</i>
{{/if}}