<!-- 
Title: Trade Beacon UI
Used In File(s): mods\persistence\modules\overmap_trade\trade_beacon.dm
 -->

<H3>{{:data.title}}</H3>

<div class='item'>
	<div class='itemLabel'>
		Linked Network:
	</div>
	<div class='itemContent'>
		{{:data.network}}<br>{{:helper.link('Disconnect from Network', '', {'disconnect' : 1}, null, null)}}
	</div>
</div>
<div class='item'>
	<div class='itemLabel'>
		Tax Rate:
	</div>
	<div class='itemContent'>
		{{:helper.link( data.tax, '', {'change_tax' : 1}, data.authed ? null : 'disabled', null)}}%
	</div>
</div>
<br><hr><br>
<h2>Products available at this beacon</h2>
{{for data.categories}}
	{{:helper.link(value, null, {'select_category' : value}, data.category == value ? 'selected' : null)}}
{{/for}}
{{if data.category}}
	<table style="width:100%">
	<tr>{{#def.common_supply_header}}
	{{for data.possible_purchases}}
		<tr class="candystripe">
		<td>{{:value.name}}
		<td>{{:value.cost}} {{:data.currency}}
		<td>
		{{:helper.link('Order', null, {'order' : value.ref})}}
		{{if data.showing_contents_of && data.showing_contents_of == value.ref}}
			{{:helper.link('Close', null, {'hide_contents' : 1})}}
			<tr class="candystripe"><th colspan="3">Contents
			{{for data.contents_of_order :content :content_index}}
				<tr class="candystripe">
				<td colspan="3">{{:content.name}} × {{:content.amount}}
			{{/for}}
		<hr>
			<tr>{{#def.common_supply_header}}
		{{else}}
			{{:helper.link('Contents', null, {'show_contents' : value.ref})}}
		{{/if}}
	{{/for}}
	</table>
{{/if}}
