<!-- 
Title: Trade Beacon UI
Used In File(s): mods\persistence\modules\overmap_trade\trade_beacon.dm
 -->

<H3>{{:data.title}}</H3>

<div class='item'>
	<div class='itemLabel'>
		Linked Network:
	</div>
	<div class='itemContent'>
		{{:data.network}}
	</div>
</div>
<div class='item'>
	<div class='itemLabel'>
		Tax Rate:
	</div>
	<div class='itemContent'>
		{{:helper.link( data.tax, '', {'action' : 'change_tax'}, data.authed ? null : 'disabled', null)}}%
	</div>
</div>
<br><hr><br>
